[run]
source = src/tlc_tools
omit = 
    */site-packages/*
    */dist-packages/*
    */tests/*
    */__pycache__/*
    config.py
    config-3.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == "__main__":
    pass
    raise ImportError
    except ImportError: 