name: Run linter, formatter, type checker and run tests

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.7.13"
        enable-cache: true
        cache-dependency-glob: "uv.lock"

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version-file: ".python-version-ci"

    - name: Install dependencies
      run: uv sync --all-extras --dev

    - name: Run pre-commit on all files
      run: uv run pre-commit run --all-files

    - name: Run mypy type checker
      run: uv run mypy .

    - name: Run tests
      run: uv run pytest tests --durations=0 -v
      env:
        TLC_API_KEY: ${{ secrets.TLC_API_KEY}}
        ${{ secrets.RUNTIME_NAME }}: ${{ secrets.RUNTIME_VALUE }}
        ${{ secrets.ENVIRONMENT_NAME }}: ${{ secrets.ENVIRONMENT_VALUE }}

    - name: Minimize uv cache
      run: uv cache prune --ci